@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --secondary-foreground: oklch(95.213% 0.00011 271.152);
  --thirdiary-foreground: oklch(97.315% 0.00011 271.152);

  --first-highlight: oklch(85.5% 0.138 181.071);
  --second-highlight: oklch(89.7% 0.196 126.665);
  --third-highlight: oklch(70.4% 0.191 22.216);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary-foreground: oklch(26.448% 0.00003 271.152);
    --thirdiary-foreground: oklch(21.342% 0.00002 271.152);

    --first-highlight: oklch(51.1% 0.096 186.391);
    --second-highlight: oklch(53.2% 0.157 131.589);
    --third-highlight: oklch(50.5% 0.213 27.518);
  }
}

* {
  font-synthesis: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 700 !important;
  letter-spacing: -1.8%;
  text-rendering: optimizeLegibility !important;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h3 {
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
